<a href="https://colab.research.google.com/github/lucifer800/python_lab_Assignment/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[2,4,12,10,18]
b=[1,3,11,19]
a=[2,4,12,*b,18]#flattern
a.sort()#sort
print(a)#print

[1, 2, 3, 4, 11, 12, 18, 19]

In [33]:
import random
b=random.sample(range(30),20)
print(b)
a=int(input("enter a number="))
if (a in b):
  i=0
  while i<20:
    d=0
    if b[i]==a:
      d+=1
    i+=1
    if d>0:
      print(d)
else:
  print("the number u entered was not in the list")

[26, 3, 4, 29, 14, 18, 7, 1, 13, 0, 24, 19, 22, 6, 17, 5, 25, 16, 10, 23]
enter a number=4
1

In [55]:
import random
a=random.choices(range(1,31),k=50)
b=set(a)
print(b)

{1, 2, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30}

In [57]:
a=random.sample(range(50),30)
b=random.choices(range(-100,-2),k=30)
c=random.sample(range(1,101),30)
d=[*a,*b,*c]
print(d)

[35, 5, 23, 28, 22, 49, 46, 30, 15, 13, 26, 0, 34, 21, 47, 37, 9, 36, 42, 40, 27, 12, 48, 32, 31, 44, 41, 43, 17, 19, -40, -22, -89, -56, -92, -10, -87, -16, -39, -88, -81, -51, -14, -21, -83, -59, -97, -95, -46, -8, -71, -91, -17, -23, -83, -32, -75, -60, -30, -74, 88, 56, 82, 45, 23, 25, 92, 62, 95, 13, 59, 91, 34, 40, 70, 1, 96, 90, 17, 57, 77, 15, 19, 11, 74, 52, 60, 35, 42, 29]

In [62]:
a = ['tanmay', 'divyesh', 'amit', 'soniya', 'god']
final = []
i = 0

while i < len(a):
    upper_name = ""
    for b in a[i]:
        if 97 <= ord(b) <= 122:
            upper_name += chr(ord(b) - 32)
        else:
            upper_name += b
    final.append(upper_name)
    i += 1

print(final)

['TANMAY', 'DIVYESH', 'AMIT', 'SONIYA', 'GOD']

In [72]:
f=[100,50,90,233,40]
d=[]
for i in f:
  c = (i - 32) * (5/9)
  c=round(c,2)
  d.append(c)
print(d)

[37.78, 10.0, 32.22, 111.67, 4.44]

In [73]:
a=[2,3,4,10,95,68]
a.append(38)
print(a[-1])#last come first serve

38

In [2]:
a=[2,3,13,6,85,24,74,80]
b=[15,9,14,36,4,2,80]
set_a=set(a)
set_b=set(b)

set_diff_a=set_a- set_b
'''#elements from list a that ar not in list b,
 similarly you can do for elements that are present in lisst b and not in list a '''

print(set_diff_a)

{3, 6, 74, 13, 85, 24}